<a href="https://colab.research.google.com/github/AnaSofia29345/Proyecto-IA/blob/main/02%20-%20preprocesado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [487]:
#se cargan los datos de la competición de Kaggle
!pip install opendatasets
import opendatasets as od
dataset_link = "https://www.kaggle.com/competitions/udea-ai4eng-20242"
od.download(dataset_link)
import os
os.chdir("udea-ai4eng-20242")
os.listdir()

Requirement already satisfied: opendatasets in /usr/local/lib/python3.10/dist-packages (0.1.22)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.66.6)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2024.8.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.10)
Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: anasofia29
Your Kaggle Key: ··········
Downloading udea-ai4eng-20242.zip to ./udea-ai4eng-20242

100%|██████████| 20.1M/20.1M [00:00<00:00, 197MB/s]

Extracting archive ./udea-ai4eng-20242/udea-ai4eng-20242.zip to ./udea-ai4eng-20242

['train.csv', 'submission_example.csv', 'test.csv']

In [488]:
#se cargan los datos de train
import pandas as pd
import numpy as np
y = pd.read_csv('/content/udea-ai4eng-20242/train.csv')
y.head()

,ID,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL
0,904256,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Postgrado,No,medio-alto
1,645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Secundaria (Bachillerato) completa,No,alto
4,989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Primaria completa,No,medio-bajo

In [489]:
#se muestra la forma del dataframe
print ("shape of loaded dataframe", y.shape)

shape of loaded dataframe (692500, 12)

In [490]:
#Se observa la cantidad de datos faltantes que hay en cada una de las columnas
k = y.isna().sum()
k[k!=0]

ESTU_VALORMATRICULAUNIVERSIDAD     6287
ESTU_HORASSEMANATRABAJA           30857
FAMI_ESTRATOVIVIENDA              32137
FAMI_TIENEINTERNET                26629
FAMI_EDUCACIONPADRE               23178
FAMI_EDUCACIONMADRE               23664
ESTU_PAGOMATRICULAPROPIO           6498
dtype: int64

In [491]:
#Luego, se analiza el tipo de variables que tiene cada columna, si son categóricas o númericas.
for c in y.columns:
    print ("%20s"%c, y[c].dtype)

                  ID int64
             PERIODO int64
 ESTU_PRGM_ACADEMICO object
ESTU_PRGM_DEPARTAMENTO object
ESTU_VALORMATRICULAUNIVERSIDAD object
ESTU_HORASSEMANATRABAJA object
FAMI_ESTRATOVIVIENDA object
  FAMI_TIENEINTERNET object
 FAMI_EDUCACIONPADRE object
 FAMI_EDUCACIONMADRE object
ESTU_PAGOMATRICULAPROPIO object
  RENDIMIENTO_GLOBAL object

Luego de mostrar los datos, se va a realizar un  preprocesado de los mismos para mirar que tan influyentes pueden ser para el modelo
que se va a construir para predecir el rendimiento global de los estudiantes.En este caso, existe la posibilidad de convertir varias columnas que estan en forma categorica
a variables numericas, por ejemplo las horas a la semana que trabaja cada estudiante,el estrato de vivienda, pago matricula propia, etc.En concreto se va a realizar para las
columnas de número de horas a la semana que trabaja cada estudiante,  el estrato de vivienda, el valor de la matricula de la universidad,fami_tieneinternet,
educación padre y la madre y  la columna de si el estudiante paga matricula propia Y la columna de programa por departamento y la de programa academico
 Vamos a realizar un one-hot encoding para la columna de el numero de horas
a la semana que trabaja cada estudiante y la educacion del padre y la columna periodo y vamos a convertir la columna de el estrato de vivienda y valor de la
matricula de la universidad y la columna de si el estudiante paga matricula propia  y  el programa por departamento y la de educacion madre  en un hot-hot encoding continuo.

In [492]:

Y=pd.read_csv('/content/udea-ai4eng-20242/train.csv')
y=Y.copy()
y= y[['ESTU_HORASSEMANATRABAJA', 'FAMI_ESTRATOVIVIENDA','ESTU_PAGOMATRICULAPROPIO','ESTU_VALORMATRICULAUNIVERSIDAD', 'FAMI_TIENEINTERNET','FAMI_EDUCACIONPADRE','FAMI_EDUCACIONMADRE', 'PERIODO','ESTU_PRGM_ACADEMICO', 'ESTU_PRGM_DEPARTAMENTO','RENDIMIENTO_GLOBAL']]
y.shape

(692500, 11)

In [493]:
#Se observa que en la columna de las horas a la semana que trabaja cada estudiante hay 30857 valores perdidos y en la columna Fami_Estrato vivienda hay 32137

In [494]:
#Luego,se sustituyen los valores perdidos faltantes de estas columnas con el simbolo no info

y.ESTU_HORASSEMANATRABAJA.values[y.ESTU_HORASSEMANATRABAJA.isna()] = 'no info'
y.FAMI_ESTRATOVIVIENDA.values[y.FAMI_ESTRATOVIVIENDA.isna()] = 'no info'
y.ESTU_PAGOMATRICULAPROPIO.values[y.ESTU_PAGOMATRICULAPROPIO.isna()] = 'no info'
y.ESTU_VALORMATRICULAUNIVERSIDAD.values[y.ESTU_VALORMATRICULAUNIVERSIDAD.isna()] = 'no info'
y.FAMI_EDUCACIONPADRE.values[y.FAMI_EDUCACIONPADRE.isna()] = 'no info'
y.FAMI_TIENEINTERNET.values[y.FAMI_TIENEINTERNET.isna()] = 'no info'
y.ESTU_PRGM_ACADEMICO.values[y.ESTU_PRGM_ACADEMICO.isna()] = 'no info'
y.FAMI_EDUCACIONMADRE.values[y.FAMI_EDUCACIONMADRE.isna()] = 'no info'
y.ESTU_PRGM_DEPARTAMENTO.values[y.ESTU_PRGM_DEPARTAMENTO.isna()] = 'no info'


sum(y.ESTU_HORASSEMANATRABAJA.isna()), sum(y.FAMI_ESTRATOVIVIENDA.isna()), sum(y.ESTU_PAGOMATRICULAPROPIO.isna()), sum(y.ESTU_VALORMATRICULAUNIVERSIDAD.isna()),sum(y.FAMI_EDUCACIONPADRE.isna(),sum(y.FAMI_EDUCACIONMADRE.isna()))

(0, 0, 0, 0, 0)

In [495]:
#aplicamos lo mismo para las columna de FAMI_TIENEINTERNET, programa academico y para la del departamento
sum(y.FAMI_TIENEINTERNET.isna()), sum(y.ESTU_PRGM_ACADEMICO.isna()), sum(y.ESTU_PRGM_DEPARTAMENTO.isna())

(0, 0, 0)

In [496]:
#observamos si hay datos faltantes en la columna periodo
y.PERIODO.isna().sum() # En este caso no se tienen datos faltantes para esta

0

Posteriormente, lo que se quiere hacer es llevar a que todas las columnas sean númericas, entonces se les va a aplicar un one-hot encoding a cada una de ellas

In [497]:
#se miran los valores que tiene la columna periodo
y.PERIODO.value_counts()

PERIODO
20195    180873
20203    171838
20212    171412
20183    164818
20194      1472
20213      1178
20202       490
20184       254
20196       165
Name: count, dtype: int64

In [498]:
#se muestran los cuatro periodos en formato string
import numpy as np
y.PERIODO= y.PERIODO.transform(lambda x: int(str(x)[0:4]))
np.unique(y.PERIODO)

array([2018, 2019, 2020, 2021])

In [499]:
#Luego, se van a filtrar y vamos a asignar valores entre o y 1 a cada uno de los periodos
y.PERIODO.values[y.PERIODO <=2018] = 0
y.PERIODO.values[y.PERIODO >= 2019] = 1
y.PERIODO.value_counts()

PERIODO
1    527428
0    165072
Name: count, dtype: int64

In [500]:
np.unique(y.FAMI_ESTRATOVIVIENDA)

array(['Estrato 1', 'Estrato 2', 'Estrato 3', 'Estrato 4', 'Estrato 5',
       'Estrato 6', 'Sin Estrato', 'no info'], dtype=object)

In [501]:
#se convierten en variables numericas el valor de la columna del estrato de vivienda de la familia
#se crea una copia del dataframe
df=y.copy()


#se le asignan valores númericos a cada uno de los estratos y a los datos faltantes de la columna del estrato de vivienda
cmap={'Estrato 6':6,
      'Estrato 5':5,
      'Estrato 4':4,
      'Estrato 3':3,
      'Estrato 2':2,
      'Estrato 1':1,
      'sin estrato':0,
      'no info':-1}

y.FAMI_ESTRATOVIVIENDA=df.FAMI_ESTRATOVIVIENDA.map(cmap)
y.FAMI_ESTRATOVIVIENDA.unique()
y.FAMI_ESTRATOVIVIENDA.value_counts()




#Se observan los estratos en los que viven cada uno de los estudiantes con sus respectivos valores númericos

FAMI_ESTRATOVIVIENDA
 2.0    232671
 3.0    210685
 1.0    111991
 4.0     65514
-1.0     32137
 5.0     23608
 6.0     12605
Name: count, dtype: int64

In [502]:
#se juntan la informacion de no sabe o no se aplica para las horas a la semana que trabaja cada estudiante
df.ESTU_HORASSEMANATRABAJA=['no info' if i in ['No sabe', 'No Aplica'] else i for i in df.ESTU_HORASSEMANATRABAJA.values]
df.ESTU_HORASSEMANATRABAJA.unique()

array(['Menos de 10 horas', '0', 'Más de 30 horas', 'Entre 21 y 30 horas',
       'Entre 11 y 20 horas', 'no info'], dtype=object)

In [503]:
#se muestran los datos de las horas a la semana que trabajan cada uno de los estudiantes y tambíen de aquellos que no se tiene información.
df.ESTU_HORASSEMANATRABAJA.value_counts()

ESTU_HORASSEMANATRABAJA
Más de 30 horas        249352
0                      116550
Entre 11 y 20 horas    115857
Entre 21 y 30 horas     92693
Menos de 10 horas       87191
no info                 30857
Name: count, dtype: int64

In [504]:
#Luego, se va a crear un one-hot encoding , primero se va a hacer un mapeo
sorted_series=sorted
sorted_series
x=y.ESTU_HORASSEMANATRABAJA.sort_values()
x
ESTU_HORASSEMANATRABAJA_vals=x.unique()
ESTU_HORASSEMANATRABAJA_vals
ESTU_HORASSEMANATRABAJA_onehot_vals={val: np.eye(len(ESTU_HORASSEMANATRABAJA_vals))[i] for i,val in enumerate(ESTU_HORASSEMANATRABAJA_vals)}
ESTU_HORASSEMANATRABAJA_onehot_vals

{'0': array([1., 0., 0., 0., 0., 0.]),
 'Entre 11 y 20 horas': array([0., 1., 0., 0., 0., 0.]),
 'Entre 21 y 30 horas': array([0., 0., 1., 0., 0., 0.]),
 'Menos de 10 horas': array([0., 0., 0., 1., 0., 0.]),
 'Más de 30 horas': array([0., 0., 0., 0., 1., 0.]),
 'no info': array([0., 0., 0., 0., 0., 1.])}

In [505]:
ESTU_HORASSEMANATRABAJA_onehot_enc = np.r_[[ESTU_HORASSEMANATRABAJA_onehot_vals[i] for i in y.ESTU_HORASSEMANATRABAJA]]
ESTU_HORASSEMANATRABAJA_onehot_enc

array([[0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       ...,
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.]])

In [506]:
#Posteriormente, se aplica el one-hot encoding y todas las columnas quedan en un solo dataframe
ESTU_HORASSEMANATRABAJA_df = pd.DataFrame(ESTU_HORASSEMANATRABAJA_onehot_enc, columns=[f"ESTU_HORASSEMANATRABAJA_{v}" for v in ESTU_HORASSEMANATRABAJA_onehot_vals])
ESTU_HORASSEMANATRABAJA_df

,ESTU_HORASSEMANATRABAJA_0,ESTU_HORASSEMANATRABAJA_Entre 11 y 20 horas,ESTU_HORASSEMANATRABAJA_Entre 21 y 30 horas,ESTU_HORASSEMANATRABAJA_Menos de 10 horas,ESTU_HORASSEMANATRABAJA_Más de 30 horas,ESTU_HORASSEMANATRABAJA_no info
0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...
692495,0.0,1.0,0.0,0.0,0.0,0.0
692496,0.0,0.0,0.0,0.0,1.0,0.0
692497,0.0,0.0,0.0,1.0,0.0,0.0
692498,0.0,0.0,0.0,1.0,0.0,0.0
692499,0.0,0.0,0.0,0.0,1.0,0.0

In [507]:
#Luego tomamos la columna del valor de la matricula de la universidad y reemplazamos los valores de cmap
cmap = {'Entre 1 millón y menos de 2.5 millones': .175,
 'Entre 2.5 millones y menos de 4 millones': .325,
 'Menos de 500 mil': .250,
 'Entre 500 mil y menos de 1 millón': .75,
 'Entre 4 millones y menos de 5.5 millones': .475,
 'Más de 7 millones': .775,
 'Entre 5.5 millones y menos de 7 millones': .625,
 'No pagó matrícula': 0,
 'no info': -1}

y.ESTU_VALORMATRICULAUNIVERSIDAD=df.ESTU_VALORMATRICULAUNIVERSIDAD.map(cmap)
y.ESTU_VALORMATRICULAUNIVERSIDAD.unique().sort()
y.ESTU_VALORMATRICULAUNIVERSIDAD.value_counts()
#Posteriormente, la columna queda en datos nnúmericos

ESTU_VALORMATRICULAUNIVERSIDAD
 0.175    204048
 0.325    127430
 0.250     80263
 0.750     78704
 0.475     69736
 0.775     68014
 0.625     38490
 0.000     19528
-1.000      6287
Name: count, dtype: int64

In [508]:
#luego miramos los valores de no sabe y no aplica en la columna de educacion del padre
y.FAMI_EDUCACIONPADRE = ['no info' if i in ['No sabe', 'No Aplica'] else i for i in y.FAMI_EDUCACIONPADRE.values]
y.FAMI_EDUCACIONPADRE.value_counts() #se muestran los valores de como es la educación del padre

FAMI_EDUCACIONPADRE
Secundaria (Bachillerato) completa      128289
Primaria incompleta                     125675
Educación profesional completa           83117
Secundaria (Bachillerato) incompleta     71654
Técnica o tecnológica completa           62995
Primaria completa                        55958
no info                                  48999
Postgrado                                44169
Educación profesional incompleta         27084
Técnica o tecnológica incompleta         22552
Ninguno                                  22008
Name: count, dtype: int64

In [509]:
#Posteriormente, le aplicamos un one-hot encoding a esta columna
FAMI_EDUCACIONPADRE_vals=y.FAMI_EDUCACIONPADRE.sort_values().unique()
FAMI_EDUCACIONPADRE_vals_onehot_vals={val: np.eye(len(FAMI_EDUCACIONPADRE_vals))[i] for i,val in enumerate(FAMI_EDUCACIONPADRE_vals)}
FAMI_EDUCACIONPADRE_onehot_enc = np.r_[[FAMI_EDUCACIONPADRE_vals_onehot_vals[i] for i in y.FAMI_EDUCACIONPADRE]]
FAMI_EDUCACIONPADRE_df = pd.DataFrame(FAMI_EDUCACIONPADRE_onehot_enc, columns=[f"FAMI_EDUCACIONPADRE__{v}" for v in FAMI_EDUCACIONPADRE_vals_onehot_vals])
FAMI_EDUCACIONPADRE_df

,FAMI_EDUCACIONPADRE__Educación profesional completa,FAMI_EDUCACIONPADRE__Educación profesional incompleta,FAMI_EDUCACIONPADRE__Ninguno,FAMI_EDUCACIONPADRE__Postgrado,FAMI_EDUCACIONPADRE__Primaria completa,FAMI_EDUCACIONPADRE__Primaria incompleta,FAMI_EDUCACIONPADRE__Secundaria (Bachillerato) completa,FAMI_EDUCACIONPADRE__Secundaria (Bachillerato) incompleta,FAMI_EDUCACIONPADRE__Técnica o tecnológica completa,FAMI_EDUCACIONPADRE__Técnica o tecnológica incompleta,FAMI_EDUCACIONPADRE__no info
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
692495,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
692496,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
692497,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
692498,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
692499,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [510]:
#se muestran los valores de los estudiantes que pagan matricula propia y los que no y tambien de los cuales no se tiene informacion

y.ESTU_PAGOMATRICULAPROPIO.value_counts()

ESTU_PAGOMATRICULAPROPIO
No         382201
Si         303801
no info      6498
Name: count, dtype: int64

In [511]:
#se muestran los valores unicos de esta columna
np.unique(y.ESTU_PAGOMATRICULAPROPIO)

array(['No', 'Si', 'no info'], dtype=object)

In [512]:
#se va a asignar valores de 0 para los estudiantes que no pagan matricula propia y valores de 1 para los que si
y.ESTU_PAGOMATRICULAPROPIO.values[y.ESTU_PAGOMATRICULAPROPIO == "Si"] = 1
y.ESTU_PAGOMATRICULAPROPIO.values[y.ESTU_PAGOMATRICULAPROPIO == "No"] = 0

In [513]:
#aplicamos lo mismo para la columna de si la familia tiene internet
y.FAMI_TIENEINTERNET.values[y.FAMI_TIENEINTERNET.isna()] = 'No'
sum(y.FAMI_TIENEINTERNET.isna())
x = y.FAMI_TIENEINTERNET.values
FAMI_TIENEINTERNET_vals = sorted(np.unique(x))
FAMI_TIENEINTERNET_onehot_vals = {val: np.eye(len(FAMI_TIENEINTERNET_vals))[i] for i,val in enumerate(FAMI_TIENEINTERNET_vals)}
FAMI_TIENEINTERNET_onehot_vals
FAMI_TIENEINTERNET_onehot_enc = np.r_[[FAMI_TIENEINTERNET_onehot_vals[i] for i in y.FAMI_TIENEINTERNET]]
FAMI_TIENEINTERNET_onehot_enc

array([[0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [514]:
#se muestra la columna anterior con el one-hot
FAMI_TIENEINTERNET_df = pd.DataFrame(FAMI_TIENEINTERNET_onehot_enc, columns=[f"FAMI_TIENEINTERNET_{v}" for v in FAMI_TIENEINTERNET_onehot_vals])
FAMI_TIENEINTERNET_df

,FAMI_TIENEINTERNET_No,FAMI_TIENEINTERNET_Si,FAMI_TIENEINTERNET_no info
0,0.0,1.0,0.0
1,1.0,0.0,0.0
2,0.0,1.0,0.0
3,0.0,1.0,0.0
4,0.0,1.0,0.0
...,...,...,...
692495,0.0,1.0,0.0
692496,0.0,1.0,0.0
692497,0.0,1.0,0.0
692498,1.0,0.0,0.0
692499,0.0,1.0,0.0

In [515]:
#concatenamos la columna de Fami tiene internet
y = pd.concat([FAMI_TIENEINTERNET_df, y], axis=1).drop('FAMI_TIENEINTERNET', axis=1)
y.shape

(692500, 13)

In [516]:
#Ahora, podemos concatenar la columna de las horas a la semana que trabaja cada estudiante
y = pd.concat([ESTU_HORASSEMANATRABAJA_df, y], axis=1).drop('ESTU_HORASSEMANATRABAJA', axis=1)
y.shape

(692500, 18)

In [517]:
#hacemos lo mismo para la columna de educacion padre
y = pd.concat([FAMI_EDUCACIONPADRE_df, y], axis=1).drop('FAMI_EDUCACIONPADRE', axis=1)
y.shape

(692500, 28)

In [518]:
#Tambien podemos mirar si hay valores faltantes en la columna de Educación madre
y.FAMI_EDUCACIONMADRE.isna().sum()

0

In [519]:
#unificar los valores de la columna, cono se hizo con la columna de educacion del padre
y.FAMI_EDUCACIONMADRE = ['no info' if i in ['No sabe', 'No Aplica'] else i for i in y.FAMI_EDUCACIONMADRE.values]
y.FAMI_EDUCACIONMADRE.value_counts()

FAMI_EDUCACIONMADRE
Secundaria (Bachillerato) completa      141744
Primaria incompleta                      99420
Técnica o tecnológica completa           89542
Educación profesional completa           85326
Secundaria (Bachillerato) incompleta     81012
Primaria completa                        56125
Postgrado                                46246
no info                                  28599
Técnica o tecnológica incompleta         27533
Educación profesional incompleta         22470
Ninguno                                  14483
Name: count, dtype: int64

In [520]:
#vamos a reemplazar los valores de la columna educacion madre por valores numericos
FAMI_EDUCACIONMADRE_vals=y.FAMI_EDUCACIONMADRE.sort_values().unique()

cmap = {val: i for i,val in enumerate(FAMI_EDUCACIONMADRE_vals)}
y.FAMI_EDUCACIONMADRE = [cmap[i] for i in y.FAMI_EDUCACIONMADRE]
y.FAMI_EDUCACIONMADRE.value_counts()

FAMI_EDUCACIONMADRE
6     141744
5      99420
8      89542
0      85326
7      81012
4      56125
3      46246
10     28599
9      27533
1      22470
2      14483
Name: count, dtype: int64

In [521]:
#lUego, miramos si hay valores faltantes en la columna estudiante programa academico
y.ESTU_PRGM_ACADEMICO.isna().sum()

0

In [522]:
y.ESTU_PRGM_ACADEMICO.value_counts()

ESTU_PRGM_ACADEMICO
DERECHO                                                   53244
ADMINISTRACION DE EMPRESAS                                51902
CONTADURIA PUBLICA                                        39664
PSICOLOGIA                                                31932
INGENIERIA INDUSTRIAL                                     28481
                                                          ...
LICENCIATURA EN ESPAÑOL Y FILOLOGÍA                           1
ADMINISTRACION EN NEGOCIOS INTERNACIONALES                    1
ADMINISTRACION DE COMERCIO EXTERIOR                           1
LICENCIATURA EN EDUCACI¿N F¿SICA RECREACI¿N Y DEPORTES        1
PROFESIONAL EN INVESTIGACIÓN CRIMINAL                         1
Name: count, Length: 948, dtype: int64

In [523]:

#agrupamos cada una de las carreras en areas del conocimiento
y["ingenieria"] = [1 if i == "Ingeniería" else 0 for i in y.ESTU_PRGM_ACADEMICO]

y["licenciatura"] = [1 if i == "Licenciatura" else 0 for i in y.ESTU_PRGM_ACADEMICO]

y["educacion_basica"] = [1 if i == "Educación básica" else 0 for i in y.ESTU_PRGM_ACADEMICO]
y["educacion_basica"].value_counts()
y["medicina"] = [1 if i == "Medicina" else 0 for i in y.ESTU_PRGM_ACADEMICO]
y
y["derecho"] = [1 if i == "Derecho" else 0 for i in y.ESTU_PRGM_ACADEMICO]
y["derecho"].value_counts()
y["zootecnia"] = [1 if i == "Zootecnia" else 0 for i in y.ESTU_PRGM_ACADEMICO]
y["otras"]=0.67

In [524]:
#vamos a aplicarle el one-hot a la columna
ESTU_PRGM_ACADEMICO_vals=y.ESTU_PRGM_ACADEMICO.sort_values().unique()
ESTU_PRGM_ACADEMICO_vals
np.eye(len(ESTU_PRGM_ACADEMICO_vals))[0]

array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [525]:
#eliminamos la columna del nombre del programa academico
y = y.drop('ESTU_PRGM_ACADEMICO', axis=1)
y.shape

(692500, 34)

In [526]:
#Ahora, aplicamos el proceso a la columna de programa por departamento y miramos sus valores
y.ESTU_PRGM_DEPARTAMENTO.value_counts()

ESTU_PRGM_DEPARTAMENTO
BOGOTÁ             282159
ANTIOQUIA           83607
VALLE               44588
ATLANTICO           41020
SANTANDER           28828
NORTE SANTANDER     22588
BOLIVAR             20629
BOYACA              14048
CUNDINAMARCA        14018
NARIÑO              13454
RISARALDA           12679
CORDOBA             12188
TOLIMA              11921
CALDAS              11640
CAUCA               11471
HUILA                9995
MAGDALENA            9512
SUCRE                8674
CESAR                8279
QUINDIO              8229
META                 7910
LA GUAJIRA           4778
CHOCO                4289
CAQUETA              2659
CASANARE             1852
PUTUMAYO              795
ARAUCA                589
AMAZONAS               40
GUAVIARE               37
VAUPES                 14
SAN ANDRES             10
Name: count, dtype: int64

In [527]:
#Ahora vamos a convertir la columna de programa por departamento en valor numerico
#reemplazamos con no info los valores faltantes
y.ESTU_PRGM_DEPARTAMENTO=y.ESTU_PRGM_DEPARTAMENTO.fillna(-1)
y.ESTU_PRGM_DEPARTAMENTO.value_counts()

cmap={val: i for i,val in enumerate(np.unique(y.ESTU_PRGM_DEPARTAMENTO))} #usamos el cmap para tener la columna en valores numericos
y.ESTU_PRGM_DEPARTAMENTO=y.ESTU_PRGM_DEPARTAMENTO.map(cmap)
y.ESTU_PRGM_DEPARTAMENTO.value_counts()

ESTU_PRGM_DEPARTAMENTO
4     282159
1      83607
29     44588
3      41020
26     28828
21     22588
5      20629
6      14048
14     14018
20     13454
24     12679
13     12188
28     11921
7      11640
10     11471
16      9995
18      9512
27      8674
11      8279
23      8229
19      7910
17      4778
12      4289
8       2659
9       1852
22       795
2        589
0         40
15        37
30        14
25        10
Name: count, dtype: int64

In [530]:
"""
Ahora, se tiene un nuevo dataframe, con las columnas de estrato de vivienda, las horas a la semana que trabaja cada estudiante, el valor de la matricula
de la universidad, si el estudiante paga matricula propia, la educación del padre y la columna de si la familia tiene internet  con sus respectivos valores númericos.Tambien se
Ahora, se tiene un nuevo dataframe, con las columnas de estrato de vivienda, las horas a la semana que trabaja cada estudiante, el valor de la matricula
de la universidad, si el estudiante paga matricula propia, la educación del padre y la columna de si la familia tiene internet  con sus respectivos valores númericos.Tambien se
cuentan con la columna de rendimiento global de los estudiantes. Además, se cambian la cantidad de columnas que tiene el dataframe
"""
y.head()

,FAMI_EDUCACIONPADRE__Educación profesional completa,FAMI_EDUCACIONPADRE__Educación profesional incompleta,FAMI_EDUCACIONPADRE__Ninguno,FAMI_EDUCACIONPADRE__Postgrado,FAMI_EDUCACIONPADRE__Primaria completa,FAMI_EDUCACIONPADRE__Primaria incompleta,FAMI_EDUCACIONPADRE__Secundaria (Bachillerato) completa,FAMI_EDUCACIONPADRE__Secundaria (Bachillerato) incompleta,FAMI_EDUCACIONPADRE__Técnica o tecnológica completa,FAMI_EDUCACIONPADRE__Técnica o tecnológica incompleta,...,PERIODO,ESTU_PRGM_DEPARTAMENTO,RENDIMIENTO_GLOBAL,ingenieria,licenciatura,educacion_basica,medicina,derecho,zootecnia,otras
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1,4,medio-alto,0,0,0,0,0,0,0.67
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1,3,bajo,0,0,0,0,0,0,0.67
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,4,bajo,0,0,0,0,0,0,0.67
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,26,alto,0,0,0,0,0,0,0.67
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1,1,medio-bajo,0,0,0,0,0,0,0.67

In [531]:
#Luego, para poder llevar a este dataset a que todo en el sea numerico, podemos hacer el mismo procedimiento para la columna de rendimiento global
R_col = 'RENDIMIENTO_GLOBAL'

rmap = {'alto': 3, 'bajo':0, 'medio-bajo':1, 'medio-alto':2}
y[R_col] = [rmap[i] for i in y[R_col]]
y.head()

#Finalmente, estos datos nos muestran la columna de las horas a la semana que trabaja cada estudiante y la columna de de la educacion del padre  con el one-hot enconding y el resto de columnas ya estan en datos numericos.

,FAMI_EDUCACIONPADRE__Educación profesional completa,FAMI_EDUCACIONPADRE__Educación profesional incompleta,FAMI_EDUCACIONPADRE__Ninguno,FAMI_EDUCACIONPADRE__Postgrado,FAMI_EDUCACIONPADRE__Primaria completa,FAMI_EDUCACIONPADRE__Primaria incompleta,FAMI_EDUCACIONPADRE__Secundaria (Bachillerato) completa,FAMI_EDUCACIONPADRE__Secundaria (Bachillerato) incompleta,FAMI_EDUCACIONPADRE__Técnica o tecnológica completa,FAMI_EDUCACIONPADRE__Técnica o tecnológica incompleta,...,PERIODO,ESTU_PRGM_DEPARTAMENTO,RENDIMIENTO_GLOBAL,ingenieria,licenciatura,educacion_basica,medicina,derecho,zootecnia,otras
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1,4,2,0,0,0,0,0,0,0.67
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1,3,0,0,0,0,0,0,0,0.67
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,4,0,0,0,0,0,0,0,0.67
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,26,3,0,0,0,0,0,0,0.67
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1,1,1,0,0,0,0,0,0,0.67

In [532]:
#creamos un nuevo archivo con el dataset en forma numerica
n1=y.to_csv("train1.csv", index = False)
#importamos el archivo
from google.colab import files
files.download("train1.csv")