<a href="https://colab.research.google.com/github/AnaSofia29345/Proyecto-IA/blob/main/02-preprocesado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [133]:
!pip install opendatasets
import opendatasets as od

Requirement already satisfied: opendatasets in /usr/local/lib/python3.10/dist-packages (0.1.22)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.66.5)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2024.8.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.10)

In [134]:
#se cargan los datos de la competición de Kaggle
dataset_link = "https://www.kaggle.com/competitions/udea-ai4eng-20242"
od.download(dataset_link)
import os
os.chdir("udea-ai4eng-20242")
os.listdir()

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: anasofia29
Your Kaggle Key: ··········
Downloading udea-ai4eng-20242.zip to ./udea-ai4eng-20242

100%|██████████| 20.1M/20.1M [00:00<00:00, 120MB/s]

Extracting archive ./udea-ai4eng-20242/udea-ai4eng-20242.zip to ./udea-ai4eng-20242

['test.csv', 'submission_example.csv', 'train.csv']

In [135]:
import pandas as pd
y = pd.read_csv('/content/udea-ai4eng-20242/train.csv')
y.head()

,ID,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL
0,904256,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Postgrado,No,medio-alto
1,645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Secundaria (Bachillerato) completa,No,alto
4,989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Primaria completa,No,medio-bajo

In [136]:
print ("shape of loaded dataframe", y.shape)

shape of loaded dataframe (692500, 12)

In [137]:
#se analizan los datos de cada una de las columnas y en base a ello se van a convertir algunas variables categoricas en numericas
sorted=y.ESTU_HORASSEMANATRABAJA.sort_values()
sorted
#en esta columna de las horas a la semana que trabaja se observa que es una variable categórica que puede ser convertida y se pueden reemplazar los datos faltantes

346256      0
207800      0
415778      0
522977      0
339481      0
         ...
692444    NaN
692448    NaN
692454    NaN
692464    NaN
692487    NaN
Name: ESTU_HORASSEMANATRABAJA, Length: 692500, dtype: object

In [138]:
#En esta otra columna se podria realizar el mismo proceso al igual que en la siguiente
sorted=y.FAMI_ESTRATOVIVIENDA.sort_values()
sorted

336730    Estrato 1
129632    Estrato 1
507901    Estrato 1
129634    Estrato 1
129635    Estrato 1
            ...
692444          NaN
692448          NaN
692454          NaN
692464          NaN
692487          NaN
Name: FAMI_ESTRATOVIVIENDA, Length: 692500, dtype: object

In [139]:
sorted=y.FAMI_TIENEINTERNET.sort_values()
sorted

346188     No
308319     No
418068     No
73483      No
478141     No
         ...
692444    NaN
692448    NaN
692454    NaN
692464    NaN
692487    NaN
Name: FAMI_TIENEINTERNET, Length: 692500, dtype: object

In [140]:
#En esta tambien y las demas columnas que sean tipo objeto
sorted=y.FAMI_EDUCACIONPADRE.sort_values()
sorted

340390    Educación profesional completa
588312    Educación profesional completa
72329     Educación profesional completa
72328     Educación profesional completa
72327     Educación profesional completa
                       ...
692394                               NaN
692448                               NaN
692454                               NaN
692464                               NaN
692487                               NaN
Name: FAMI_EDUCACIONPADRE, Length: 692500, dtype: object

In [141]:
sorted=y.FAMI_EDUCACIONMADRE.sort_values()
sorted

292825    Educación profesional completa
628738    Educación profesional completa
628730    Educación profesional completa
349077    Educación profesional completa
349078    Educación profesional completa
                       ...
692394                               NaN
692448                               NaN
692454                               NaN
692464                               NaN
692487                               NaN
Name: FAMI_EDUCACIONMADRE, Length: 692500, dtype: object

In [142]:
sorted=y.ESTU_PAGOMATRICULAPROPIO.sort_values()
sorted

0          No
396604     No
396603     No
396600     No
396598     No
         ...
692240    NaN
692353    NaN
692369    NaN
692454    NaN
692487    NaN
Name: ESTU_PAGOMATRICULAPROPIO, Length: 692500, dtype: object

In [143]:
sorted=y.ESTU_VALORMATRICULAUNIVERSIDAD.sort_values()
sorted

346265    Entre 1 millón y menos de 2.5 millones
161409    Entre 1 millón y menos de 2.5 millones
161410    Entre 1 millón y menos de 2.5 millones
316753    Entre 1 millón y menos de 2.5 millones
587960    Entre 1 millón y menos de 2.5 millones
                           ...
692201                                       NaN
692240                                       NaN
692369                                       NaN
692454                                       NaN
692487                                       NaN
Name: ESTU_VALORMATRICULAUNIVERSIDAD, Length: 692500, dtype: object

In [144]:
sorted=y.ESTU_PRGM_DEPARTAMENTO.sort_values()
sorted

628976    AMAZONAS
169837    AMAZONAS
474283    AMAZONAS
458834    AMAZONAS
471420    AMAZONAS
            ...
184089      VAUPES
34450       VAUPES
411084      VAUPES
509258      VAUPES
353574      VAUPES
Name: ESTU_PRGM_DEPARTAMENTO, Length: 692500, dtype: object

In [145]:
sorted=y.PERIODO.sort_values()
sorted

98705     20183
501803    20183
125791    20183
501802    20183
501793    20183
          ...
153935    20213
231657    20213
172921    20213
228582    20213
287093    20213
Name: PERIODO, Length: 692500, dtype: int64

In [146]:
sorted=y.ID.sort_values()
sorted

348654         1
305495         3
673360         4
569302         5
394380         6
           ...
112403    989281
664599    989282
334687    989283
619348    989284
596787    989286
Name: ID, Length: 692500, dtype: int64

In [147]:
"""
Luego de mostrar los datos, se va a realizar una  limpieza y preprocesado de los mismos para mirar que tan influyentes pueden ser para el modelo
que se va a construir para predecir el rendimiento global de los estudiantes.En este caso, existe la posibilidad de convertir varias columnas que estan en forma categorica
a variables numericas, por ejemplo las horas a la semana que trabaja cada estudiante,el estrato de vivienda, pago matricula propia, etc.En concreto se va a realizar para dos:el
numero de horas a la semana que trabaja cada estudiante y el estrato de vivienda. Vamos a realizar un one-hot encoding para las dos columnas.El numero de horas
a la semana que trabaja la vamos a convertir en un one-hot encoding y el estrato de vivienda en uno continuo.
"""
y= y[['ESTU_HORASSEMANATRABAJA', 'FAMI_ESTRATOVIVIENDA', 'RENDIMIENTO_GLOBAL']]

In [148]:
#Usamos la funcion isna, para ver cuantos son los valores perdidos en estas columnas
sum(y.ESTU_HORASSEMANATRABAJA.isna()), sum(y.FAMI_ESTRATOVIVIENDA.isna())

(30857, 32137)

In [149]:
#Por lo tanto, se van a sustituir los valores perdidos con el simbolo de que no hay informacion para las columnas de estrato de vivienda y las horas a la semana que trabaja cada estudiante

y.ESTU_HORASSEMANATRABAJA.values[y.ESTU_HORASSEMANATRABAJA.isna()] = 'no info'
y.FAMI_ESTRATOVIVIENDA.values[y.FAMI_ESTRATOVIVIENDA.isna()] = 'no info'
sum(y.ESTU_HORASSEMANATRABAJA.isna()), sum(y.FAMI_ESTRATOVIVIENDA.isna())

(0, 0)

In [150]:
#se convierten en variables numericas el valor de la columna del estrato de vivienda de la familia
import numpy as np
#se crea una copia del dataframe
df=y.copy()


#se le asignan valores númericos a cada uno de los estratos y a los datos faltantes de la columna del estrato de vivienda
cmap={'Estrato 6':6,
      'Estrato 5':5,
      'Estrato 4':4,
      'Estrato 3':3,
      'Estrato 2':2,
      'Estrato 1':1,
      'sin estrato':0,
      'no info':-1}
y.FAMI_ESTRATOVIVIENDA=df.FAMI_ESTRATOVIVIENDA.map(cmap)
y.FAMI_ESTRATOVIVIENDA.unique()
y.FAMI_ESTRATOVIVIENDA.value_counts()


#Se observan los estratos en los que viven cada uno de los estudiantes con sus respectivos valores númericos

FAMI_ESTRATOVIVIENDA
 2.0    232671
 3.0    210685
 1.0    111991
 4.0     65514
-1.0     32137
 5.0     23608
 6.0     12605
Name: count, dtype: int64

Series([], Name: count, dtype: int64)

In [151]:
#se limpia la columna de las horas a la semana que trabaja cada estudiante
df.ESTU_HORASSEMANATRABAJA=['no info' if i in ['No sabe', 'No Aplica'] else i for i in df.ESTU_HORASSEMANATRABAJA.values]
df.ESTU_HORASSEMANATRABAJA.unique()

array(['Menos de 10 horas', '0', 'Más de 30 horas', 'Entre 21 y 30 horas',
       'Entre 11 y 20 horas', 'no info'], dtype=object)

In [152]:
#se muestran los datos de las horas a la semana que trabajan cada uno de los estudiantes y tambíen de aquellos que no se tiene información.
df.ESTU_HORASSEMANATRABAJA.value_counts()

ESTU_HORASSEMANATRABAJA
Más de 30 horas        249352
0                      116550
Entre 11 y 20 horas    115857
Entre 21 y 30 horas     92693
Menos de 10 horas       87191
no info                 30857
Name: count, dtype: int64

In [153]:
#Luego, se va a crear un one-hot encoding , primero se va a hacer un mapeo
sorted_series=sorted
sorted_series
x=y.ESTU_HORASSEMANATRABAJA.sort_values()
x
ESTU_HORASSEMANATRABAJA_vals=x.unique()
ESTU_HORASSEMANATRABAJA_vals
ESTU_HORASSEMANATRABAJA_vals_onehot_vals={val: np.eye(len(ESTU_HORASSEMANATRABAJA_vals))[i] for i,val in enumerate(ESTU_HORASSEMANATRABAJA_vals)}
ESTU_HORASSEMANATRABAJA_vals_onehot_vals

{'0': array([1., 0., 0., 0., 0., 0.]),
 'Entre 11 y 20 horas': array([0., 1., 0., 0., 0., 0.]),
 'Entre 21 y 30 horas': array([0., 0., 1., 0., 0., 0.]),
 'Menos de 10 horas': array([0., 0., 0., 1., 0., 0.]),
 'Más de 30 horas': array([0., 0., 0., 0., 1., 0.]),
 'no info': array([0., 0., 0., 0., 0., 1.])}

In [154]:
ESTU_HORASSEMANATRABAJA_onehot_enc = np.r_[[ESTU_HORASSEMANATRABAJA_vals_onehot_vals[i] for i in y.ESTU_HORASSEMANATRABAJA]]
ESTU_HORASSEMANATRABAJA_onehot_enc

array([[0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       ...,
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.]])

In [155]:
#Posteriormente, se aplica el one-hot encoding y todas las columnas quedan en un solo dataframe
ESTU_HORASSEMANATRABAJA_df = pd.DataFrame(ESTU_HORASSEMANATRABAJA_onehot_enc, columns=[f"ESTU_HORASSEMANATRABAJA__{v}" for v in ESTU_HORASSEMANATRABAJA_vals_onehot_vals])
ESTU_HORASSEMANATRABAJA_df

,ESTU_HORASSEMANATRABAJA__0,ESTU_HORASSEMANATRABAJA__Entre 11 y 20 horas,ESTU_HORASSEMANATRABAJA__Entre 21 y 30 horas,ESTU_HORASSEMANATRABAJA__Menos de 10 horas,ESTU_HORASSEMANATRABAJA__Más de 30 horas,ESTU_HORASSEMANATRABAJA__no info
0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...
692495,0.0,1.0,0.0,0.0,0.0,0.0
692496,0.0,0.0,0.0,0.0,1.0,0.0
692497,0.0,0.0,0.0,1.0,0.0,0.0
692498,0.0,0.0,0.0,1.0,0.0,0.0
692499,0.0,0.0,0.0,0.0,1.0,0.0

In [156]:
#Ahora, podemos eliminar la columna de las horas a la semana que trabaja cada estudiante
y = pd.concat([ESTU_HORASSEMANATRABAJA_df, y], axis=1).drop('ESTU_HORASSEMANATRABAJA', axis=1)
y.shape

(692500, 8)

In [157]:
"""
Ahora, se tiene un nuevo dataframe, con las columnas de estrato de vivienda y las horas a la semana que trabaja cada estudiante con sus respectivos valores númericos.Tambien se
cuentan con la columna de rendimiento global de los estudiantes. Además, se cambian la cantidad de columnas que tiene el dataframe
"""
y.head()

,ESTU_HORASSEMANATRABAJA__0,ESTU_HORASSEMANATRABAJA__Entre 11 y 20 horas,ESTU_HORASSEMANATRABAJA__Entre 21 y 30 horas,ESTU_HORASSEMANATRABAJA__Menos de 10 horas,ESTU_HORASSEMANATRABAJA__Más de 30 horas,ESTU_HORASSEMANATRABAJA__no info,FAMI_ESTRATOVIVIENDA,RENDIMIENTO_GLOBAL
0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,medio-alto
1,1.0,0.0,0.0,0.0,0.0,0.0,3.0,bajo
2,0.0,0.0,0.0,0.0,1.0,0.0,3.0,bajo
3,1.0,0.0,0.0,0.0,0.0,0.0,4.0,alto
4,0.0,0.0,1.0,0.0,0.0,0.0,3.0,medio-bajo

In [158]:
#Luego, para poder llevar a este dataset a que todo en el sea numerico, podemos hacer el mismo procedimiento para la columna de rendimiento global
R_col = 'RENDIMIENTO_GLOBAL'

rmap = {'alto': 3, 'bajo':0, 'medio-bajo':1, 'medio-alto':2}
y[R_col] = [rmap[i] for i in y[R_col]]
y.head()

#Finalmente, estos datos nos muestran la columna de las horas a la semana que trabaja cada estudiante con el one-hot enconding y el resto de columnas ya estan en datos numericos.

,ESTU_HORASSEMANATRABAJA__0,ESTU_HORASSEMANATRABAJA__Entre 11 y 20 horas,ESTU_HORASSEMANATRABAJA__Entre 21 y 30 horas,ESTU_HORASSEMANATRABAJA__Menos de 10 horas,ESTU_HORASSEMANATRABAJA__Más de 30 horas,ESTU_HORASSEMANATRABAJA__no info,FAMI_ESTRATOVIVIENDA,RENDIMIENTO_GLOBAL
0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,2
1,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0
2,0.0,0.0,0.0,0.0,1.0,0.0,3.0,0
3,1.0,0.0,0.0,0.0,0.0,0.0,4.0,3
4,0.0,0.0,1.0,0.0,0.0,0.0,3.0,1

AttributeError: 'DataFrame' object has no attribute 'concat'